@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300&display=swap');

:root {
  --accent-color: #3882f6;
  --dark-color: #1f2937;
  --light-text: #F9FAF8;
  --secondary-accent-color: #E5E7EB;
}

body {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

header {
  background-color: var(--dark-color);
  width: 100%;
  top: 0;
  position: absolute;
}

.inner-header {
  display: flex;
  flex-direction: row;
  margin-inline: 13em;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
    color: var(--light-text);
    font-weight: 900;
    font-size: 24px;
}

.header-links{
    list-style: none;
    display: flex;
    gap: 2em;
}

.header-links a{
    text-decoration: none;
    color: var(--secondary-accent-color);
    font-size: 18px;
    font-weight: 300;
}

.hero{
  width: 100%;
  background-color: var(--dark-color);
}

.hero-content{
  display: flex;
  margin-inline: 13em;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding-block: 9em;
  height: 100%;
  gap: 4em;
}

.hero-left{
  padding: 1.5em;
  padding-left: 0;
}

.hero-left h1{
  font-size: 48px;
  font-weight: 900;
  color: var(--light-text);
  margin: 0;
}

.hero-left p{
  font-size: 18px;
  font-weight: 300;
  color: var(--secondary-accent-color);
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.button{
  text-decoration: none;
  padding: 0.4em 2em;
  font-weight: 500;
  font-size: 18px;
  border-radius: 7px;
}

.hero-left .button{
  background-color: var(--accent-color);
  color: #fff;
}

.hero-right{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e747c;
  color: #fff;
  font-size: 20px;
}

.information{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-inline: 13em;
  padding-bottom: 5em;
}

.information h1{
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-color);
  margin-block: 1.5em;
}

.information-content-wrapper{
  display: flex;
  justify-content: space-between;
  gap: 3.5em;
  margin-inline: 6em;
  text-align: center;
  color: #6e747c;
  font-size: 18px;
}

.blank{
  width: 100%;
  aspect-ratio: 1;
  border: var(--accent-color) 5px solid;
  border-radius: 20px;
}

.quote{
  background-color: var(--secondary-accent-color);
  padding: 7em 20em;
  color: var(--dark-color);
}

.quote h1{
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 0;
}

.quote p{
  font-weight: 700;
  font-size: 24px;
  text-align: right;
  margin-top: 0;
}

.call-to-action{
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 10px;
  margin: 6em 15em;
  padding: 3em 8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call-to-action h1{
  font-size: 24px;
  margin: 0;
}

.call-to-action p{
  margin: 0;
  color: var(--secondary-accent-color);
  font-size: 18px;
}

.call-to-action .button{
  border: #fff 2px solid;
}